[submodule "Libft"]
	path = Libft
	url = git@github.com:jinbekim/Libft.git
[submodule "GNL"]
	path = GNL
	url = git@github.com:jinbekim/GNL.git
[submodule "webserv"]
	path = webserv
	url = git@github.com:jinbekim/webserv.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = git@github.com:jinbekim/ft_transcendence.git
